[submodule "src/mpc/acados"]
	path = src/mpc/acados
	url = https://github.com/acados/acados.git

[submodule "src/ld08_driver"]
	path = src/ld08_driver
	url = https://github.com/ROBOTIS-GIT/ld08_driver.git
	branch = ros2-devel
[submodule "src/turtlebot3"]
	path = src/turtlebot3
	url = https://github.com/ROBOTIS-GIT/turtlebot3.git
	branch = humble-devel
[submodule "ros2-vicon-receiver"]
	path = ros2-vicon-receiver
	url = https://github.com/OPT4SMART/ros2-vicon-receiver.git
[submodule "src/ros2-vicon-receiver"]
	path = src/ros2-vicon-receiver
	url = https://github.com/OPT4SMART/ros2-vicon-receiver.git
